.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .75);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title-error{
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
}
.link-error,.link-error:hover{
  color: white;
  text-decoration: none;
}
