.box-team{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .75);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}